{% extends "layout.html" %}
{% block content %}
<div class="content-section d-flex justify-content-center my-5">
  <form
    method="POST"
    action=""
    class="w-50 shadow p-4 rounded animate__animated animate__fadeIn"
  >
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4 text-primary" style="font-weight: bold">
        Join Today
      </legend>

      <div class="form-group mb-4">
        {{ form.username.label(class="form-control-label text-dark") }} 
        {% if form.username.errors %}
          {{ form.username(class="form-control form-control-lg is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.username.errors %}
              <span>{{ error }}</span>
            {% endfor %}
          </div>
        {% else %}
          {{ form.username(class="form-control form-control-lg shadow-sm") }} 
        {% endif %}
      </div>

      <div class="form-group mb-4">
        {{ form.email.label(class="form-control-label text-dark") }} 
        {% if form.email.errors %}
          {{ form.email(class="form-control form-control-lg is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.email.errors %}
              <span>{{ error }}</span>
            {% endfor %}
          </div>
        {% else %}
          {{ form.email(class="form-control form-control-lg shadow-sm") }} 
        {% endif %}
      </div>

      <div class="form-group mb-4">
        {{ form.password.label(class="form-control-label text-dark") }} 
        {% if form.password.errors %}
          {{ form.password(class="form-control form-control-lg is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.password.errors %}
              <span>{{ error }}</span>
            {% endfor %}
          </div>
        {% else %}
          {{ form.password(class="form-control form-control-lg shadow-sm") }} 
        {% endif %}
      </div>

      <div class="form-group mb-4">
        {{ form.confirm_pswd.label(class="form-control-label text-dark") }} 
        {% if form.confirm_pswd.errors %}
          {{ form.confirm_pswd(class="form-control form-control-lg is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.confirm_pswd.errors %}
              <span>{{ error }}</span>
            {% endfor %}
          </div>
        {% else %}
          {{ form.confirm_pswd(class="form-control form-control-lg shadow-sm") }} 
        {% endif %}
      </div>

	  <div class="form-group mb-4">
        <label class="form-check-label text-dark" for="role">Register as Admin:</label>
        {{ form.role(class="form-check-input w-25 h-25") }}
      </div>
    </fieldset>

    <div class="form-group text-center">
      {{ form.submit(class="btn btn-info btn-lg px-5 shadow-sm") }}
    </div>

  </form>
</div>

<div class="border-top pt-3 text-center">
  <small class="text-muted">
    Already Have an Account? <a class="ml-2 text-info" href="{{ url_for('login') }}">Sign In</a>
  </small>
</div>
{% endblock content %}
